
<h3>The Dog Store</h3>
<% @dog.each do |dog|%>
<ul>
  <img src="<%=dog.img%>"/>
  <li><%= dog.breed %></li>     
  <li><%= dog.sex %></li>
  <li><%= dog.age %></li>
  <li><%= dog.price %></li>
  </ul>
<% end %>