
<% @images.each do |image| %>
  <img src="<%= image.url %>"/>
<% end %>

<p>Breed: <%= @dog.breed %></p>     
<p>Gender: <%= @dog.sex %></p>
<p>Age: <%= @dog.age %></p>

<% if @dog.discount? %> 
<p>Price: $<%= @dog.price %></p>
<p>Discount item!</p>
<% else %>
<p>Everyday value!</p>
<% end %>

<p>Price: $<%= @dog.price %></p>
<p>Tax: $<%= @dog.tax %></p>
<p>Total: $<%= @dog.total %></p>


<div>
	<a href="/dog_store">Back to Adoption Center</a>
</div>
<div>
<% if current_user.admin %>
<a href="/dog_store/<%= @dog.id %>/edit">Edit this dog's information</a>
</div>
 <div>
   <%= link_to "Delete this information", "/dog_store/#{@dog.id}", method: :delete %>
 </div>
 <% end %>

 <%= form_tag "/carted_products/#{@dog.id}", method: :post do %>
  <div>
    <%= label_tag :quantity %>
    <%= text_field_tag :quantity %>
  </div>
  <div>
    <%= label_tag :subtotal  %>
    <%= text_field_tag :subtotal, @dog.price  %>
  </div>
  <div>
    <%= label_tag :tax  %>
    <%= text_field_tag :tax, @dog.tax  %>
  </div>
  <div>
    <%= label_tag :total  %>
    <%= text_field_tag :total, @dog.total  %>
  </div>
  <div>
  <%= submit_tag "Add to Cart!" %> 
  </div>
<% end %>