<img src="<%=@dog.img%>"/>
<p>Breed: <%= @dog.breed %></p>     
<p>Gender: <%= @dog.sex %></p>
<p>Age: <%= @dog.age %></p>

<% if @dog.discount? %> 
<p>Price: $<%= @dog.price %></p>
<p>Discount item!</p>
<% else %>
<p>Everyday value!</p>
<% end %>

<p>Price: $<%= @dog.price %></p>
<p>Tax: $<%= @dog.tax %></p>
<p>Total: $<%= @dog.total %></p>


<div>
	<a href="/dog_store">Back to Adoption Center</a>
</div>
<div>
<a href="/dog_store/<%= @dog.id %>/edit">Edit this dog's information</a>
</div>
 <div>
   <%= link_to "Delete this information", "/dog_store/#{@dog.id}", method: :delete %>
 </div>