<img src="<%=@dog.img%>"/>
<p><%= @dog.breed %></p>     
<p><%= @dog.sex %></p>
<p><%= @dog.age %></p>
<p><%= @dog.price %></p>
<div>
	<a href="/dog_store">Back to Adoption Center</a>
</div>
<div>
<a href="/dog_store/<%= @dog.id %>/edit">Edit this dog's information</a>
</div>
 <div>
   <%= link_to "Delete this information", "/dog_store/#{@dog.id}", method: :delete %>
 </div>