<img src="<%=@dogs.img%>"/>
<p><%= @dogs.breed %></p>     
<p><%= @dogs.sex %></p>
<p><%= @dogs.age %></p>
<p><%= @dogs.price %></p>
<div>
	<a href="/dog_store">Back to Adoption Center</a>
</div>
<div>
<a href="/dog_store/<%= @dogs.id %>/edit">Edit this dog's information</a>
</div>