<h1>Confirmation Order</h1>
<p>order: <%= @order.id %></p>  
<p>quantity: <%= @order.quantity %></p>  
<% @carted_products.each do |carted| %>
    <p>Breed: <%= carted.dog.breed.upcase %></p>
    <p>Breed: <%= carted.quantity %></p>
<% end %>
<p>subtotal: <%= @order.subtotal %></p>  
<p>tax <%= @order.tax %></p>  
<p>total: <%= @order.total %></p>  
<p>email <%= current_user.email %></p>  
