<h1>Checkout Page</h1>
<ul>
  <% @users_cart.each do |carted| %>
      <li><%= carted.quantity %></li>
      <li><%= carted.dog.breed %></li>
      <%= link_to "Remove from cart", "/carted_products", method: :delete %>
  <% end %>
</ul>



<%= form_tag "/orders", method: :post do %>
  <div>
  <%= submit_tag "Buy Now!" %> 
  </div>
<% end %>